<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>network.machikado.alfread.workflows</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E150789A-D2B9-4AE2-A52A-2D52323DCFE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639C708E-9FB6-4012-B945-C83F0C8E8892</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sizumita</string>
	<key>description</key>
	<string>まちカドネットワークの色々をやりやすくします</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>まちカドネットワーク Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://10.50.{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>639C708E-9FB6-4012-B945-C83F0C8E8892</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>10.50.</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open まちカドネットワーク</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E150789A-D2B9-4AE2-A52A-2D52323DCFE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>まちカドネットワーク向けのあれこれを便利にするWorkflowです。

## 機能

- 10.50.*.*を入力したときにwebページに飛ばす機能</string>
	<key>uidata</key>
	<dict>
		<key>639C708E-9FB6-4012-B945-C83F0C8E8892</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>E150789A-D2B9-4AE2-A52A-2D52323DCFE6</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://machikado.network</string>
</dict>
</plist>
